<!-- views/pages/auth.ejs -->
<!doctype html>
<html>
<head>
    <title>Google SignIn</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    
    </style>
</head>
<body>
   

  <%- include('navbar.ejs') %>
<div class="container">
    <div class="jumbotron text-center text-primary";>
        <h1 style="color:crimson;"><span class="fa fa-lock"></span> Entra in Ping Pov</h1>
       
        <a href="/v2/auth/google" class="btn btn-danger"><span class="fa fa-google"></span>  Entra con Google</a>
    </div>

<form action="/autenticazione" method="POST">
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="form2Example1" class="form-control" name="email" />
      <label class="form-label" for="form2Example1" >Email address</label>
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="form2Example2" class="form-control" name="password" />
      <label class="form-label" for="form2Example2">Password</label>
    </div>
  
    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
  
    <!-- Register buttons -->    
  </form>
</div></div>
</body>
</html> 