<!-- views/pages/auth.ejs -->
<!doctype html>
<html>
<head>
    <title>Google SignIn</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    
    </style>
</head>
<body style="background-color:rgb(66,63,63);">
   

  <%- include('navbar.ejs') %>
<div class="container" style="background-color:rgb(115,102,102) ;">
    <div class="jumbotron text-center text-primary" style="background-color:rgb(115,102,102) ;">
        <h1 style="color:crimson;"><span class="fa fa-lock"></span> Registrati a Ping Pov</h1>
       
        <a href="/v1/auth/google" class="btn btn-danger"><span class="fa fa-google"></span>  Usa Google per registrarti</a>
    </div>
</div>
</body>
</html> 