<!doctype html>
<html>

<head>
  <title>Lista match</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <!-- load bulma css -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- load fontawesome -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/brackets-viewer@latest/dist/brackets-viewer.min.css" />


</head>

<body>
  <%- include('../navbar.ejs') %>
    <div class="container">
      <div class="jumbotron">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Giocatori</th>
              <th scope="col">Modalità</th>
              <th scope="col">Data</th>
              <th scope="col">Sede</th>
              <th scope="col">Organizzatore</th>
              <th scope="col">Risultato</th>
              <th scope="col"></th>


            </tr>
          </thead>
          <a class="btn btn-danger" href="/match" role="button">Torna alla lista partite</a>
          <tbody id="t_body">
          </tbody>
        </table>
      </div>
    </div>
    </div>
    <script>
      class Match {
        constructor(data) {
          data['_id'] = (data['_id'].replace(' new ObjectId("', '')).replace('")', '')
          Object.assign(this, data);
        };
      }
      async function req() {
        var match = []
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/v2/match/i-miei-match", true);
        xhr.onload = function (e) {
          if (xhr.readyState === 4) {
            if (xhr.status === 200) {
              data = JSON.parse(xhr.responseText);
              for (let i = 0; i < data.length; i++) {
                console.log(data[i])
                match.push(new Match(data[i]))
              }
              createTable(match)
            } else {
              console.error(xhr.statusText);
            }
          }
        };
        xhr.onerror = function (e) {
          console.error(xhr.statusText);
        };

        xhr.send(null);
      }
      function createTable(match) {
        tbody = document.getElementById('t_body');
        let cells = ""
        let max_players, current_players;
        for (let i = 0; i < match.length; i++) {
          current_players = match[i]['squadra1'].length + match[i]['squadra2'].length;
          if (match[i]['modalità'] == 'Singolo') {
            max_players = 2
          } else {
            max_players = 4
          }
          cells += "<tr>\n"
          cells += "<td><b>"
          cells += (i + 1)
          cells += "</b></td>\n"
          cells += "<td>"
          cells += current_players + "/" + max_players
          cells += "</td>\n"
          cells += "<td>\n"
          cells += match[i]['modalità']
          cells += "</td>\n"
          cells += "<td>"
          cells += match[i]['data']
          cells += "</td>\n"
          cells += "<td>"
          cells += match[i]['sede']
          cells += "</td>\n"
          cells += "<td>"
          cells += match[i]['organizzatore']
          cells += "</td>\n"
          cells += '<td><b>'
          if (match[i]['risultato']['score_sq1'] != -1 && match[i]['risultato']['score_sq2'] != -1) {
            cells += match[i]['risultato']['score_sq1'] + '/' + match[i]['risultato']['score_sq2']
          }
          cells += "</b></td>\n"
          let current_date_ms = Date.now();
          let req_data_ms = Date.parse(match[i]['data']);
          if (current_players == max_players && req_data_ms < current_date_ms && match[i]['risultato']['score_sq1'] < 0) {
            cells += "<td id='risultato'>"
            cells += '<button type="button" class="btn btn-success" onclick="postaRisultato(\'' + match[i]['_id'] + '\')">Inserisci risultato</button>'
            cells += "</td>\n"
          } else {
            if (current_players != max_players && req_data_ms < current_date_ms && match[i]['risultato']['score_sq1'] < 0) {
              cells += "<td>"
              cells += '<button type="button" class="btn btn-primary">Partita non disputata</button>'
              cells += "</td>\n"
            } else {
              if (match[i]['risultato']['score_sq1'] < 0 && match[i]['risultato']['score_sq2'] < 0) {
                cells += "<td id='tasto_elimina'>"
                cells += '<button type="button" class="btn btn-danger" onclick="elimina(\'' + match[i]['_id'] + '\')">Elimina partita</button>'
                cells += "</td>\n"
              } else {
                cells += "<td></td>\n"
              }
            }
          }
          cells += "</tr>\n"

        }
        tbody.innerHTML = cells
      }

      async function postaRisultato(id) {
        let first_score = Number(prompt("Inserisci risultato squadra #1", ''))
        let second_score = Number(prompt("Inserisci risultato squadra #2", ''))
        if (first_score < 0 || second_score < 0 || first_score == 'undefined' || second_score == 'undefined') {
          return
        } fetch('/v2/risultati-match/' + id, {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            score_sq1: first_score,
            score_sq2: second_score,
          })
        }).then(location.reload());
      }
      async function elimina(id) {
        var xhr = new XMLHttpRequest();
        console.log("here")
        xhr.open("DELETE", "/v2/match/" + id, true);
        xhr.onload = function (e) {
          if (xhr.readyState === 4) {
            if (xhr.status === 200) {
              alert('Match correttamente cancellato')
              location.reload();
            } else {
              alert('Erorre cancellazione match')
              console.error(xhr.statusText);
            }
          }
        };
        xhr.onerror = function (e) {
          console.error(xhr.statusText);
        };

        xhr.send(JSON.stringify({ "email": "hello@user.com", "response": { "name": "Tester" } }));
      }
      req();
    </script>
</body>

</html>